h1 {
    text-align: center;
}

.auto-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 2rem;
    place-items: center;
}


/* Presentational styles */

body {
    padding: 1rem;
}

img {
    padding: 1rem 1rem;
    background: rgb(134, 131, 131, 0.5);
     max-width: 200px;
    max-height: 200px;
}

div {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
