body {
    background-color: rgb(232, 245, 250);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 80px;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}


.wrapper {
    display: grid;
    grid-template-columns: inherit;
    background-color: rgb(232, 245, 250);
    width: min(70%, 100%);
}

.box {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-size: 40px;
    width: 90vw;
    margin-bottom: 20px;
    height: 500px;
    width: 142.9%;
}

.text {
    padding-top: 420px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.text:link {
    color: wheat;
    background-color: transparent;
}

@media screen and (min-width: 300px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 50px) / 680));
    }

    body {
        margin: 35px;
    }

}

.a {
    background-image: url("/images/artwork.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.b {
    background-image: url("/images/nightsky.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.c {
    background-image: url("/images/nature.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}